In [34]:
a = 'C,B,A'
b = ['F','G','H']
c = a.split(',')
d = c+b
d[0] = 'K'
e = d.pop(2)
print(e)
del d[1:4]
d.append('U')
print(d)

A
['K', 'H', 'U']

In [2]:
a = (input())
print(a[4])

01234567
4

In [21]:
a = "My ID is B1206014"
b = a.split(" ")
print(len(b))
c = b[3]
print(len(c))

4
8

In [17]:
a = "I'm a student"
b = list('I\'m a student')
print(b[2])

m